In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import warnings

from datetime import datetime, date,timedelta
from matplotlib import gridspec
from matplotlib import cm

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df_SF = pd.read_pickle('df_SF.pkl')
df_SF_halfhourly = df_SF.iloc[::2,:]

In [3]:
df_SF_halfhourly.head()

,TIMESTAMP,DOY,SV_IN_1A,SV_OUT_1A,SV_MEAN_1A,SV_IN_1B,SV_OUT_1B,SV_MEAN_1B,SV_IN_2A,SV_OUT_2A,...,SV_MEAN_6A,SV_IN_7A,SV_OUT_7A,SV_MEAN_7A,SV_IN_8A,SV_OUT_8A,SV_MEAN_8A,SV_IN_9A,SV_OUT_9A,SV_MEAN_9A
0,2015-01-01 00:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01 00:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-01 01:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-01-01 01:30:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-01-01 02:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_SF_halfhourly.to_pickle('df_SF_HH.pkl')